body{

min-width: 1146px;

margin: 0;
padding: 0;

font-family: "Roboto", Arial, sans-serif;
font-size: 16px;
line-height: 22px;
font-weight: 400;
color: #ffffff;

background-color: #849d8f;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.body-1 {
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.body-2 {
	background-color: #8996a6;
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.body-3 {
	background-color: #9d8b84;
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.container{
  padding: 0;
  margin: 0 auto;
  width: 1146px;
  padding: 0 27px;
  padding-top: 9px;
}
.main-header{
  position: relative;
}

.header-column{
  display: flex;
  flex-wrap: wrap;
  min-height: 64px;
}

.header-column img{
  width: 155px;
  height: 64px;
  margin-right: 10px;
}


.site-navigation{
  display: flex;
  flex-wrap: wrap;
  width: 675px;
  padding: 0;
  margin: 23px auto 0 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  text-decoration: none;
}

.site-navigation a{
  color: #ffffff;
  padding: 6px 12px;
  margin: 0 5px 5px 0;
}

.site-navigation-whitespace{
  white-space: nowrap;
}

.sub-menu{
  display: none;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu a{
  color: #000000;
}

.sub-menu .sub-title{
  color: #000000;
  font-weight: bold;
}

.user-navigation{
    /* position: relative; */
  margin: auto;
  font-size: 14px;
  line-height: 16px;
}
.user-navigation a{
  color: #ffffff;
}

.login-link{
  display: inline-block;
  box-sizing: border-box;

  width: 92px;
  height: 32px;
  padding-top: 7px;
  text-align: center;
  border-radius: 15px;
  background-color: #9db1a5;
}

.basket-button{
  display: inline-block;
  box-sizing: border-box;
  width: 117px;
  height: 32px;
  text-align: center;
  padding-top: 7px;
  border-radius: 15px;
  background-color: #9db1a5;
}

.header-contacts{
  position: absolute;
  top: 73px;
  left: 970px;
  text-align: right;

}
.header-contacts-time{

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.header-contacts-number{
  font-size: 22px;
  font-weight: 900;
  line-height: 24px;
}



/* слаайдер */
.slider {
	position: relative;
}

.slides {
    box-sizing: border-box;
	display: none;
	position: absolute;
	margin-top: 234px;
	width: 100%;
}

.slide-active {
	display: block;
}

.slide-description1 {

	width: 683px;
	height: 127px;
	margin-right: auto;
	margin-left: auto;
  margin-bottom: 0;
	padding-right: 4px;
}

.slide-description2 {
	width: 657px;
	height: 127px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 4px;
}

.slide-description3 {
	width: 656px;
	height: 127px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 6px;
}

.slides h3 {
	font-size: 60px;
	line-height: 1;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
}

.slides a {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: #ffffff;
}

.slides-switches {
	position: relative;
	top: 484px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 78px;
	height: 20px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 5;
}

.slide-btn {
  box-sizing: border-box;
	border: none;
	cursor: pointer;
	width: 21px;
	height: 21px;
	border-radius: 50%;
}

.slide-btn-active {
	background-color: #ffffff;
}

.slide-btn:not(.slide-btn-active) {
	border: 2px solid #ffffff;
	background-color: transparent;
}

.slide-btn:not(.slide-btn-active):hover,
.slide-btn:not(.slide-btn-active):focus {
	background-color: rgba(255,255,255,0.4);
}

.slide-btn:not(.slide-btn-active):active {
	background-color: #ffffff;
}

/* слайдер конец */

.button{
  box-sizing: border-box;
  display: inline-block;
  background-color: #e74a35;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient( to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}


.button-slide {
  box-sizing: border-box;
	display: block;
  width: 278px;
  height: 63px;
  border-radius: 40px;
	padding-top: 9px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 23px;
  /* margin-bottom: 40px; */

}

.bonuses-col{
    display: flex;
    justify-content: space-between;
    margin-top: 542px;
}
.bonuses{
  position: relative;

  width: 560px;
  min-height: 229px;

  padding: 16px 22px 23px 18px;
  border-radius: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;

}
.bonuses h2 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 18px;
}


.description{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;

}
.raspberry{
  background-color: #ce5778;
  background-image: url("../img/rasber.png");


}
.raspberry .button{
  position: absolute;

  right: 20px;
  bottom: 18px;
  width: 165px;
  height: 46px;
  padding-top: 10px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.chocolate{
  background-color: #5e361d;
  background-image: url("../img/chocolate.png");
}
.chocolate .button{
  position: absolute;

  right: 20px;
  bottom: 18px;

  width: 189px;
  height: 45px;

  border-radius: 20px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.hits-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;

}

.hits-list a{
  color: #ffffff;
}
.hits-item{
  position: relative;
  width: 267px;
  height: 328px;
}
.hits-item h3{
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 14px;
}

.hits-item .price{
  position: absolute;
  top: 168px;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  line-height: 45px;
}

.hits-item .kg{
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  line-height: 45px;
}
.features{
  box-sizing: border-box;
  min-height: 306px;
  color: #000000;
  padding: 25px 19px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee2cc;
  background-image: url("../img/waffle.png");

}
.features-list{
  width: 1095px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item{
  width: 484px;
  margin-left: 56px;
  margin-bottom: 15px;
}

.features-item:nth-child(3n),
.features-item:nth-child(4n){
  margin-bottom: 0;
}


.features h2{
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  padding-bottom: 26px;
}
.article-subscribe{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news{
  box-sizing: border-box;
  padding: 25px 19px;
  width: 560px;
  border-radius: 15px;
  background-image: url("../img/клубничный фон.jpg");
  width: 560px;
  min-height: 220px;
  background-color: #ffffff;
  color: #000000;
}
.news h2{
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.news h3{
  width: 281px;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700px;
}

.news a{
  color: #000000;
  text-decoration: underline;
  font-size: 24px;
  line-height: 30px;
}

.subscribe{
  display: block;
  box-sizing: border-box;
  width: 560px;
  border-radius: 15px;
  min-height: 220px;
  color: #5a5a5a;
  background-image: url("../img/post.svg");
  background-color: #f8f7f4;

}

.fon-container{
  box-sizing: border-box;
  width: 550px;
  min-height: 210px;
  margin: 5px 5px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscribe-description{
  padding: 0;
  margin: 0;
  padding: 30px 20px;
}

.subscribe-form-submit{
  box-sizing: border-box;
  width: 129px;
  height: 44px;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
}

.map{
  margin-bottom: 9px;
}

.map iframe{
  box-sizing: border-box;
  width: 100%;
}

.main-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
}
.social-contacts{
  display: flex;
}

.social-item{
  margin-right: 18px;
}
.social-contacts .twitter{
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;

}

.social-contacts .instagram{
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.social-contacts .facebook{
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.social-contacts .vk{
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.main-footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

 .footer-features{
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  min-height: 50px;
}
.footer-features li{
  padding: 0;
  margin: 0;
}

.footer-features a{
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-features li:nth-child(3) a {
	margin-right: 34px;
}


.footer-features li:first-child{
  margin-right: 30px;
  font-weight: bold;
}

.footer-copyright p{
  padding: 0;
  margin: 0;
  margin-top: 7px;
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy-copyright{
  color: #ffffff;
}

.modal{
  display: none;
}

/* вторая страница */
.breadcrumbs{
  list-style: none;
}

.breadcrumbs a{
  color:#ffffff;
  font-size: 14px;
  line-height: 16px;

}

.page-title{
  font-size: 35px;
  line-height: 41px;
}

.filter fieldset{
  border: none;
}

.filter-title{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-checkbox-label,
.filter-radio-label{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-fat ul,
.filter-filler ul{
  list-style: none;
}


.button-filter{
  width: 144px;
  height: 37px;
  border: none;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background-color: #a6b7ae;
  color: #ffffff;
    font-weight: 500;
}

.catalog ul{
  list-style: none;
}

.catalog-item .price{
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49,50,53, .5);
  color: #ffffff;
  font-weight: 700;
}

.price .kg{
font-size: 35px;
line-height: 45px;
font-weight: 700;
white-space: nowrap;
}

.catalog-item h3{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.pagination{
  list-style: none;
}

.pagination-item a{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

}

.pagination-item-current a{
  color: #000000;
}
